$primary: #000000;
$secondary: #FF0000;
$font1: "jersey 15, Inter, Arial";
$font2: Inter, Arial, Tahoma;

.navbar{
    background: $primary;
    .navbar-brand img{
        height: 60px;
    }
    .nav-link{
        font: 22px $font1;
        color: #fff;
        text-transform: uppercase;
        &:hover{
            color: $secondary;
        }
    }
}
.btn{
    font: 20px $font1;
}
body{
    background-color: $primary;
    box-sizing: border-box !important;
}
#main{
    width: 100%;
    margin: 30px auto;
    background-color: #5151514d;
    
 .card-flex {
    display: flex ;
    justify-content: center ;
    flex-direction: column;
    & .card-block {
        width: 90%;
        border-radius: 20px;

        margin:20px auto;
        box-sizing: border-box;

          & img {
            width: 100%;
            border-radius: 20px 20px 0 0 ;
            margin-bottom: 5px;
            }
            .card-info {
               padding: 10px;
               background-color:  #FF0000;
               border-radius: 0 0 20px 20px    ;
               p {
               color: black;
               }
            }
    }


}

}
.button-center{
    text-align: center;
    margin-top:15%;
    a{
        align-content: center;

        text-align: center;
        text-decoration: none;
        color: $secondary;
        font-weight: bold;

        border-radius: 2px;
        font-size: 50px;

    }
}

 @media (min-width:600px)  {

 }
 @media (min-width:730px)  {
#main {
    .card-flex {
        display: flex;
        justify-content: center ;
        flex-direction: row;
        flex-wrap: wrap;
        & .card-block {
            width: 30%;
            border-radius: 20px;
            
            margin:20px auto;
            box-sizing: border-box;
    
              & img {
                width: 100%;
                border-radius: 20px;
                margin-bottom: 5px;
                }
        }
    
     }
}
 }
 @media (min-width:990px) {
#main {
    width: 1000px;
    margin: 40px auto;
    .card-flex {
        display: flex;
        justify-content: center ;
        flex-direction: row;
        flex-wrap: wrap;
        & .card-block {
            width: 30%;
            border-radius: 20px;
            
            margin:20px auto;
            box-sizing: border-box;
    
              & img {
                width: 100%;
                border-radius: 20px;
                margin-bottom: 5px;
                }
        }
    
     }
}


}